.background-layer-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2846px;
    background-image: url('/src/background-image.jpg');
    background-repeat: repeat-y;
    background-size: 100% auto;
    z-index: -2;
}

.background-layer-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.gradient-block-1 {
    height: 932.39px;
    background: linear-gradient(#D9D9D900, #E0D9CBB8 33%, #E2D8C7F0 70%, #E2D8C6);
}

.gradient-block-2 {
    height: 850px;
    background-color: #E2D8C6;
}

.gradient-block-3 {
    height: 997px;
    background: linear-gradient(to top, #D9D9D900, #E0D9CBB8 33%, #E2D8C7F0 70%, #E2D8C6);
}

.hero, .why-us, .advantages, .start-now {
    padding: 202px 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 37px;
}

.hero h1, .start-now h2 {
    font-size: 96px;
    color: #805300;
    width: 950px;
    margin: auto;
}

.hero p {
    font-size: 40px;
    color: #805300;
}

.cta {
    background-color: #A98746;
    color: #E2D8C6;
    padding: 20px 40px;
    font-size: 48px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
}

.why-us, .advantages {
    padding: 61px 10%;
    text-align: right;
}

.why-us {
    background: linear-gradient(to right, #E2D8C6, #EDD4A5);
    align-items: flex-end;
}

.why-us h2, .advantages h2 {
    font-size: 64px;
    color: black;
    margin: 0;
}

.why-us p, .advantages ul {
    font-size: 32px;
    color: black;
    width: 758px;
    margin: 0;
}

.advantages {
    background: linear-gradient(to right, #EDD4A5, #E2D8C6);
    text-align: left;
    align-items: flex-start;
}

.advantages ul {
    list-style-type: inherit;
}

.start-now {
    display: flex;
    flex-direction: column;
    gap: 82px;
    padding: 302px 0;
    align-items: center;
}